<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="食术·中医体质养生"
        android:supportsRtl="true">
        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.customtabs.trusted.PROVIDER_PACKAGE_NAMES"
                android:value="com.android.chrome,com.chrome.beta,com.chrome.dev" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.support.customtabs.trusted.DEFAULT_URL"
            android:value="http://shishu.xn--fiqs8s/app" />
    </application>
</manifest>
